{% extends "base.html" %}

{% block content %}
{% if product_list %}
<table class="table">
  <thead>
  <tr>
    <th scope="col"><h5>ID</h5></th>
    <th scope="col"><h5>Name</h5></th>
    <th scope="col"><h5>Category</h5></th>
    <th scope="col"><h5>Price</h5></th>
  </tr>
  </thead>

  {% for product in product_list %}
  <tr>
    <th scope="row">
      {{ product.id }}
    </th>
    <th scope="row">
      {{ product.name }}
    </th>
    <th scope="row">
      {{ product.category }}
    </th>
    <th scope="row">
      {{ product.price }}
    </th>
    {% endfor %}
</table>

{% else %}
<p>There are no dishes in the service.</p>
{% endif %}
{% endblock %}